/* Hero Section */
.herosection {
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  position: relative;
}

.herosection::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/dummy.jpg');
  filter: brightness(0.3);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  transition: background-image 1s ease-in-out;
}

.herosection > * {
  position: relative;
  z-index: 2;
}

@keyframes changeBackground {
  0% { background-image: url('../assets/images/BridgeHome.jpg'); }
  33% { background-image: url('../assets/images/hero-bg.jpg'); }
  66% { background-image: url('../assets/images/solid-white-background-28i8qcatyjo9dc8y.jpg'); }
  100% { background-image: url('../assets/images/dummy.jpg'); }
}

.herosection::before {
  animation: changeBackground 30s infinite ease-in-out;
}



.herocontent {
  max-width: 50rem;
  padding: 2rem;
  color: white;
}

.herocontent h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: white;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.redbutton,
.outlinebutton {
  padding: 0.6rem 1.3rem;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
}

.redbutton {
  background-color: #c00;
}

.outlinebutton {
  margin-left: 0.5rem;
  background-color: transparent;
  border:solid 2px white;
  border: solid;
}

/* Project Details */
.project-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4rem 18rem;
  gap: 1rem;
  max-width: 100%;
  margin: 0 auto;
  align-items: center;

}

.left-section {
  flex: 1;
  margin-right: 10px;
  min-width: 10rem;
  max-width: 20rem; 
  
}

.left-section h4 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.left-section p {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.right-section {
  flex: 2;
  min-width: 23rem;
}

.right-section h2 {
  font-size: 1.9rem;
  margin: 1.2rem 0;
  font: bold;
  font-weight:700 ;
}

.right-section p {
  font-size: 0.9rem;
  margin: 0.9rem 0;
}

.project-image {
  width: 100%;
  height: 20rem;
}

.default-button,
.pdf-button {
  border: none;
  
  cursor: pointer;
  font-size: 1rem;
  width: 12.5rem;
}

.default-button {
  background-color: #eff3f6;
  color: black;
  margin: 0.2rem;
  padding: 0.5rem 0.7rem;
}

.pdf-button {
  background-color: #0c1f38;
  color: white;
  margin: 0.5rem 0;
  padding: 0.7rem 0.9rem;
}

.quotesection {
  border-left: 5px solid #c00;
  padding: 0.7rem;
  margin: 1rem 0;
  background-color: #f6f6f6;
  font-style: italic;
}

.quotesection h2{
  margin: 2rem 0;
}

ul {
  list-style: none;
}
 li {
  padding: 0.6rem 0;
  font-size: 0.9rem;
 }

 /* Responsive Styles for Small Laptops (max-width: 1024px) */
@media screen and (max-width: 1024px) {

/* Hero Section */
.herosection {
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}

.herocontent {
  max-width: 50rem;
  padding: 2rem;
  color: white;
}

.herocontent h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: white;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.redbutton,
.outlinebutton {
  padding: 0.6rem 1.3rem;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
}

.redbutton {
  background-color: #c00;
}

.outlinebutton {
  margin-left: 0.5rem;
  background-color: transparent;
  border:solid 2px white;
  border: solid;
}

/* Project Details */
.project-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4rem 13rem;
  gap: 1rem;
  max-width: 100%;
  margin: 0 auto;
  align-items: center;

}

.left-section {
  flex: 1;
  margin-right: 10px;
  min-width: 10rem;
  max-width: 20rem; 
  
}

.left-section h4 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.left-section p {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.right-section {
  flex: 1;
  min-width: 21rem;
}

.right-section h2 {
  font-size: 1.9rem;
  margin: 1.2rem 0;
  font: bold;
  font-weight:700 ;
}

.right-section p {
  font-size: 0.9rem;
  margin: 0.9rem 0;
}

.project-image {
  width: 100%;
  height: 20rem;
}

.default-button,
.pdf-button {
  border: none;
  
  cursor: pointer;
  font-size: 1rem;
  width: 12.5rem;
}

.default-button {
  background-color: #eff3f6;
  color: black;
  margin: 0.2rem;
  padding: 0.5rem 0.7rem;
}

.pdf-button {
  background-color: #0c1f38;
  color: white;
  margin: 0.5rem 0;
  padding: 0.7rem 0.9rem;
}

.quotesection {
  border-left: 5px solid #c00;
  padding: 0.7rem;
  margin: 1rem 0;
  background-color: #f6f6f6;
  font-style: italic;
}

.quotesection h2{
  margin: 2rem 0;
}

ul {
  list-style: none;
}
 li {
  padding: 0.6rem 0;
  font-size: 0.9rem;
 }
}

/* Responsive Styles for Tablets (441px to 768px) */
@media (min-width: 441px) and (max-width: 768px) {

/* Hero Section */
.herosection {
  width: 100%;
  height: 21rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}

.herocontent {
  max-width: 40rem;
  padding: 1rem;
  color: white;
}

.herocontent h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: white;
}

.hero-content p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.redbutton,
.outlinebutton {
  padding: 0.4rem 1.1rem;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
}

.redbutton {
  background-color: #c00;
}

.outlinebutton {
  margin-left: 0.5rem;
  background-color: transparent;
  border:solid 2px white;
  border: solid;
}

/* Project Details */
.project-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4rem 4rem;
  gap: 10px;
  max-width: 100%;
  margin: 0 auto;
  align-items: center;

}

.left-section {
  flex: 1;
  min-width: 10rem;
  max-width: 20rem; 
  
}

.left-section h4 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.left-section p {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.right-section {
  flex: 1;
  min-width: auto;
}

.right-section h2 {
  font-size: 1.5rem;
  margin: 1.2rem 0;
  font: bold;
  font-weight:700 ;
}

.right-section p {
  font-size: 0.8rem;
  margin: 0.9rem 0;
}

.project-image {
  width: 100%;
  height: 20rem;
}

.default-button,
.pdf-button {
  border: none;
  
  cursor: pointer;
  font-size: 1rem;
  width: 12.5rem;
}

.default-button {
  background-color: #eff3f6;
  color: black;
  margin: 0.2rem;
  padding: 0.5rem 0.7rem;
}

.pdf-button {
  background-color: #0c1f38;
  color: white;
  margin: 0.5rem 0;
  padding: 0.7rem 0.9rem;
}

.quotesection {
  border-left: 5px solid #c00;
  padding: 0.7rem;
  margin: 1rem 0;
  background-color: #f6f6f6;
  font-style: italic;
}

.quotesection h2{
  margin: 2rem 0;
}

ul {
  list-style: none;
}
 li {
  padding: 0.6rem 0;
  font-size: 0.9rem;
 }
}

/* Responsive Styles for Mobile Devices (max-width: 440px) */
@media (max-width: 440px) {

/* Hero Section */
.herosection {
  width: 100%;
  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}

.herocontent {
  max-width: 30rem;
  padding: 1rem;
  color: white;
}

.herocontent h1 {
  font-size: 1.9rem;
  margin-bottom: 0.5rem;
  color: white;
}

.herocontent p {
  font-size: 0.7rem;
  margin-bottom: 2rem;
}

.redbutton,
.outlinebutton {
  padding: 0.4rem 1.1rem;
  border-radius: 30px;
  font-size: 0.7rem;
  cursor: pointer;
}

.redbutton {
  background-color: #c00;
}

.outlinebutton {
  margin-left: 0.5rem;
  background-color: transparent;
  border:solid 2px white;
  border: solid;
}

/* Project Details */
.project-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4rem 4rem;
  gap: 10px;
  max-width: 100%;
  margin: 0 auto;
  align-items: center;
}

.left-section {
  flex: 1;
  min-width: 10rem;
  max-width: 20rem; 
  
}

.left-section h4 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.left-section p {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.right-section {
  flex: 1;
  min-width: auto;
}

.right-section h2 {
  font-size: 1.5rem;
  margin: 1.2rem 0;
  font: bold;
  font-weight:700 ;
}

.right-section p {
  font-size: 0.8rem;
  margin: 0.9rem 0;
}

.project-image {
  width: 100%;
  height: 20rem;
}

.default-button,
.pdf-button {
  border: none;
  
  cursor: pointer;
  font-size: 1rem;
  width: 12.5rem;
}

.default-button {
  background-color: #eff3f6;
  color: black;
  margin: 0.2rem;
  padding: 0.5rem 0.7rem;
}

.pdf-button {
  background-color: #0c1f38;
  color: white;
  margin: 0.5rem 0;
  padding: 0.7rem 0.9rem;
}

.quotesection {
  border-left: 5px solid #c00;
  padding: 0.7rem;
  margin: 1rem 0;
  background-color: #f6f6f6;
  font-style: italic;
}

.quotesection h2{
  margin: 2rem 0;
}

ul {
  list-style: none;
}
 li {
  padding: 0.6rem 0;
  font-size: 0.9rem;
 }
}